.person {
  padding: 15px 10px 15px 10px;
  margin: 25px 0 25px 0;
  background: #eeeeee;
  transition: all 0.3s linear;
  border-radius: 20px;
  text-align: center;
  border: 1px solid #eeeeee;
}
.person img {
  border-radius: 50%;
  border: 0.1rem solid teal;
}

.person h4 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  color: teal;
}
.person:hover {
  border: 1px solid #212121;
  -webkit-box-shadow: 0px 0px 29px -5px rgba(199, 199, 199, 1);
  -moz-box-shadow: 0px 0px 29px -5px rgba(199, 199, 199, 1);
  box-shadow: 0px 0px 29px -5px rgba(199, 199, 199, 1);
}
